@use "variables";
@use "mixins";

.checkout {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  // Parcel color
  color: #ccc;
  ul {
    list-style: none;
  }
  h3 {
    text-align: center;
  }
  .headline {
    text-align: center;
  }
  button {
    cursor: pointer;
    padding: 10px;
  }
  #form_part1 {
    background-color: variables.$main-dark;
    color: white;
    border: 1px solid #ffc935;
    border-radius: 3px;
    .order-con {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin: 10px;
    }
    .order-img {
      background-image: url(../assets/covers/green-day-american-idiot.png);
      background-size: contain;
      width: 220px;
      height: 130px;
    }
    .headline {
      font-size: 0.9rem;
    }
    #price-cont {
      font-size: 0.8rem;
    }

    .order-btn-cont {
      display: flex;
      justify-content: space-evenly;
      input {
        width: 50px;
      }
      .fa {
        cursor: pointer;
      }
    }
    .offerCont {
      border: 1px solid #ffc935;
      border-radius: 3px;
      font-size: 0.9rem;

      .offerOne {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px;
        .pitcureOne {
          background-image: url(../assets/covers/the-beatles-abbey-road.png);
          background-size: contain;
          width: 130px;
          height: 130px;
        }
        .controlOne {
        }
      }
      .offerTwo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px;
        .pitcureTwo {
          background-image: url(../assets/covers/nirvana-nevermind.png);
          background-size: contain;
          width: 130px;
          height: 130px;
        }
        .controlTwo {
        }
      }
    }
    .offer-navigator {
      display: flex;
      justify-content: center;
    }
  }

  #form_part2 {
    display: flex;
    flex-direction: column;
    background-color: variables.$main-dark;
    color: variables.$main-gold;

    .info-con {
      display: flex;
      flex-direction: column;
      padding: 10px;
      #firstPrev {
        margin-bottom: 10px;
      }
      #secondNext {
      }
    }
    input {
      display: flex;
      width: 80%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
      @include mixins.bigScreen() {
        width: 80%;
      }
    }
    button {
      width: 81vw;
      padding: 10px;
      @include mixins.desktop() {
        width: 88vw;
      }
      @include mixins.bigScreen() {
        width: 82%;
      }
    }
  }

  #form_part3 {
    display: flex;
    flex-direction: column;
    background-color: variables.$main-dark;
    color: variables.$main-gold;
    .pay-con {
      display: flex;
      flex-direction: column;
      padding: 10px;
      .card-cont {
        margin-top: -6px;
        margin-bottom: 10px;
        text-align: center;
        .fa-cc-mastercard {
          color: red;
          background-color: variables.$main-light;
          font-size: 1.6rem;
        }
        .fa-cc-visa {
          color: navy;
          background-color: variables.$main-light;
          font-size: 1.6rem;
        }
        .fa-cc-amex {
          color: blue;
          background-color: variables.$main-light;
          font-size: 1.6rem;
        }
      }
      .termsCon {
        display: flex;
        #checkbox {
          width: 10%;
        }
      }
      #lastPrev,
      #submit {
        width: 37vh;
      }
      #submit {
        margin-top: 10px;
        cursor: pointer;
      }
    }
    input {
      display: flex;
      width: 80%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
      @include mixins.bigScreen() {
        width: 80%;
      }
    }
    button {
      width: 81vw;
      @include mixins.desktop() {
        width: 88vw;
      }
      @include mixins.bigScreen() {
        width: 82%;
      }
    }
  }

  .btn:hover {
    background-color: #45a049;
  }
}
