@use "variables";
@use "mixins";

$toMuchMargin: 200px;

.checkout {
  margin: 0;
  ul {
    list-style: none;
  }
  h3 {
    text-align: center;
  }
  .headline {
    text-align: center;
  }
  .container-order {
    background-color: variables.$main-dark;
    border: 1px solid #ffc935;
    border-radius: 3px;
    color: white;
    .extra-con {
      height: 60%;
      @include mixins.flex-v;
      align-items: center;
      @include mixins.desktop() {
        height: 45vw;
        @include mixins.flex-h;
      }

      .pitcure-first {
        background-image: url(../assets/american-idiot.png);
        background-size: contain;
        width: 200px;
        height: 200px;
        @include mixins.desktop() {
          width: 240px;
          height: 240px;
        }
      }
    }
    .order-control {
      @include mixins.flex-h;
      justify-content: space-between;
      height: 30px;
      i {
        font-size: 30px;
        color: white;
      }
      .item-numb {
        text-align: center;
        margin-top: 6px;
        width: 85px;
      }
    }
  }
  .container-offer {
    height: 60%;
    @include mixins.flex-v;
    align-items: center;
    background-color: variables.$main-dark;
    border: 1px solid #ffc935;
    border-radius: 3px;
    color: white;
    @include mixins.desktop() {
      height: 55vw;
      @include mixins.flex-v;
      align-items: initial;
    }
    .extra {
      @include mixins.flex-v;
      @include mixins.desktop() {
        @include mixins.flex-h;
      }
    }
    .pitcure-second {
      background-image: url(../assets/abbey-road.png);
      background-size: contain;
      width: 200px;
      height: 200px;
      @include mixins.desktop() {
        width: 240px;
        height: 240px;
      }
    }
    @include mixins.desktop() {
      .h3 h4 {
        text-align: initial;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    background-color: variables.$main-dark;
    color: variables.$main-gold;
    border: 1px solid #ffc935;
    form {
      margin: 10px;
      margin-left: 5px;
      padding: 5px 20px 15px 20px;
      h3 {
        text-align: initial;
      }
    }
    input {
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    .btn {
      width: 81vw;
      @include mixins.desktop() {
        width: 88vw;
      }
    }
    .terms-con {
      @include mixins.flex-h;
      #checkbox {
        width: 5%;
      }
    }
  }

  .btn:hover {
    background-color: #45a049;
  }

  .order-cart {
    float: right;
    color: grey;
  }

  @media screen and (min-width: 1024px) {
    // För Parcel fix
    // h3 {
    //   background-color: greenyellow;
    // }
    // Parcel fix
    .container-order {
      .extra-con {
        height: 30vw;
        .pitcure-first {
          width: 350px;
          height: 350px;
        }
      }
    }
    .container-offer {
      height: 45vw;
      .pitcure-second {
        width: 350px;
        height: 350px;
      }
    }

    footer {
      .info-con {
        width: 80vw;
      }
      .pay-con {
        width: 80vw;
        .btn {
          width: 82%;
        }
      }
      input {
        width: 80%;
      }
    }
  }
}
