@use "variables";
@use "mixins";

.details {
  background-color: variables.$main-dark;
  margin: 0;
  color: white;
  font-family: "Montserrat", sans-serif;

  main {
    display: flex;
    flex-direction: column;

    .album-container {
      background: rgb(4, 6, 6);
      background: linear-gradient(
        90deg,
        rgba(4, 6, 6, 0.9070494409) 0%,
        rgba(36, 36, 36, 0.5008869759) 72%,
        rgba(4, 6, 6, 0.8258169479) 100%
      );
      display: flex;
      justify-content: center;
      width: 100%;

      .content-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include mixins.desktop() {
          justify-content: space-around;
          width: 1024px;

          li {
            margin: 5px;
          }
        }

        .img-container {
          width: 40%;
          margin-top: 20px;
          @include mixins.desktop() {
            width: 25%;
          }

          img {
            width: 100%;
          }
        }
        ol {
          margin-top: 15px;
        }
      }

      .img-container h5,
      p {
        margin: 5px;
        width: 60%;
      }
    }
  }
  .product-container {
    .wrapper {
      display: flex;
      flex-direction: column;

      @include mixins.bigScreen() {
        flex-direction: row;
        width: 1004px;
        margin: 0 auto;
      }
    }

    h5 {
      text-align: center;
      margin-top: 20px;
    }
    .info-container {
      display: flex;
      justify-content: center;
      @include mixins.desktop() {
        flex-direction: row;
        justify-content: flex-start;
        flex-grow: 1;
      }
      
      .description-container li {
        color: variables.$main-gold-dark;
      }
    }
    ul {
      margin: 0px 10px 0 0;
      padding: 0px;
      li {
        list-style: none;
      }
    }
    .price-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10pt;
      @include mixins.desktop() {
        align-items: flex-end;
        width: 50%;
        row-gap: 20px;
        flex-grow: 1;
      }
      .article-container {
        text-align: right;
        ul {
          margin: 0;
          padding: 0;
        }
      }
      .button-container {
        display: flex;
        column-gap: 15px;
        align-items: center;
        color: blue($color: #000000);
        margin-top: 20px;
      }

      p {
        font-size: large;
        margin: 0;
        @include mixins.desktop() {
          text-align: end;
        }
      }
      #buybutton {
        background-color: variables.$main-gold-dark;
        color: black;
        font-style: unset;
        border: black;
        border-radius: 3px;
      }
    }
  }

  .modal-content {
    background-color: black;
    opacity: 0.9;

    .modal-header {
      .close {
        color: white;
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;

      .modal-div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .img {
          width: 10%;
        }
        i {
          color: white;
          padding-top: 3px;
        }
      }
    }
  }

  .btn {
    background-color: variables.$main-gold-dark;
  }
}