@use "variables";
@use "mixins";

.line {
  background-color: variables.$main-gold;
  height: 2px;
  box-shadow: 0 0 10px black;
}
header {
  @include mixins.flex-h;
  @include mixins.mpg(0, 0 20px, 20px);
  font-family: "Playball", cursive;
  height: 65px;
  align-items: center;
  background-color: variables.$main-darker;
  color: variables.$main-light;
  .hamburger-button {
    @include mixins.mpg();
    background: none;
    border: none;
    color: variables.$main-gold;
    font-size: 1.7rem;
    &:hover {
      color: variables.$main-gold-dark;
      cursor: pointer;
    }
  }
  .site-title {
    font-size: 2rem;
    flex-grow: 1;
  }
  a {
    text-decoration: none;
    color: white;
  }
  nav {
    @include mixins.flex-h;
    @include mixins.mpg(0, 0, 20px);
    font-size: 1.5rem;
    .shopping-cart {
      &:hover {
        color: variables.$main-gold;
        cursor: pointer;
      }
    }
  }
  .dropdown-toggler {
    display: none;
  }
  #dropdownToggler:checked ~ .dropdown {
    height: 150px;
  }
  .dropdown {
    height: 0px;
    @include mixins.flex-v;
    justify-content: space-evenly;
    transition: height 0.2s ease-out;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
    background-color: black;
    color: white;
    z-index: 2;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    .dropdown-item {
      @include mixins.mpg(0,5px 10px);
      &:hover {
        background-color: rgb(27, 27, 27);
        cursor: pointer;
      }
    }

  }
}
